#featured {
  div:first-child img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Faz a imagem preencher toda a área sem distorcer */
    display: block;
  }


  img {
    height: 100%
    object-fit: cover; /*pra img nao esticar*/ 
    border-radius: 4px;
  }
}

